*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*BODY*/
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: rgb(220, 220, 220);
}

/*NAVIGATION-BAR*/
.nav{
  background-color: rgb(3,3,49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 2px;
  margin: 2px;
  border-radius: 5px;
}
a{
  text-decoration: none;
  color: azure;
  cursor: pointer;
  text-transform: uppercase;
}
.logo{
  display: flex;
  align-items: left;
  gap:10px;
}
.logo{
  width: 120px;
  height: 120px;
}
.logo-text{
  font-size: 18px;
  text-transform: uppercase;
}
.one{
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(255,248,220);
}
.color{
  color: rgb(255,248,220);
  font-size: 30px;
}

/*IMAGES*/
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
  margin: 10px;
  justify-content: space-around;
}
.box{
  gap: 15px;
  border-radius: 10px;
  padding: 5px;
  border-width:30px;
  transform: scale(1);
  box-shadow: 0px 4px 12px;
  border: 1px solid;
  background-color: antiquewhite;
  text-align: center;
}
.box h2{
  font-size: 15px;
  margin-top: 10px;
  width: 220px;
}
.name{
  color: black;
}
img{
  margin-right: 10px;
  margin-bottom: 10px;
}
img:hover{
  transform:scale(1.1);
  box-shadow: 2px 2px 2px white;
  border-radius: 1px;
}

/*DESCRIPTION*/
.margin{
  margin: 30px;
  border-radius: 12px;
  background: #f4f4f4;
  background: #ffffff;
  padding: 25px 35px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.size {
  font-size: 16px;
  margin-bottom: 5px;
  color: #444;
  text-align: justify;
  margin-top: 30px;
}
h2, h3, strong {
  text-align: justify;
  margin-top: 2px;
}
h2 {
  font-size: 24px;
  padding-bottom: 5px;
}
h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
strong {
  font-size: 22px;
  margin-bottom:5px;
}
ul {
  padding-left: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 5px
}
li {
  margin-bottom: 10px;
} 
ol{
  padding-left: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 5px;
}
.video{
  border-radius: 10px;
  padding: 5px;
  border-width:30px;
  box-shadow: 2px 8px 17px;
  border: 1px solid;
  background-color: antiquewhite;
  text-align: center;
}
.image{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
  margin: 10px;
  justify-content: space-around;
}
.imaged{
  gap: 8px;
  border-radius: 10px;
  padding: 5px;
  border-width:30px;
  box-shadow: 0px 4px 12px;
  border: 1px solid;
  background-color: antiquewhite;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: antiquewhite;
}
