*{ 
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

/*BODY*/
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: rgb(220, 220, 220);
}

/*NAVIGATION-BAR*/
.nav{
  background-color:rgb(3, 3, 49);
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
  color:white;
  cursor: pointer;
  text-transform: uppercase;
}
.logos {
  width: 120px;
  height: 120px;
}
.logos-text {
  font-size: 18px;
  text-transform: uppercase;
}
.logos-wrap {
  display: flex;
  align-items:left;
  gap: 10px;
}
.four{
  font-size: 40px;
  text-transform: uppercase;
  color:rgb(255, 248, 220);
}
.color{ 
  color:rgb(255, 248, 220);
  font-size: 30px; 
}

/*IMAGES*/
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
  margin: 10px;
  justify-content: space-around;
}
.box{
  gap: 5px;
  border-radius: 10px;
  padding: 5px;
  border-width: 30px;
  transform: scale(1);
  box-shadow: 0px 4px 12px;
  border: 1px solid;
  background-color: rgb(240, 255, 255);
  text-align: center;
}
.box h2{ 
  font-size: 18px; 
  margin-top: 10px; 
  width:220px ;
} 
.style{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
img{
  margin-right: 10px;
  margin-bottom: 10px;
}
img:hover{
  opacity: 0.5;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px white;
  border-radius: 1px;
}

/*DESCRIPTION*/
.board {
  margin: 30px;
  border-radius: 12px;
  background: #f4f4f4;
  background: #ffffff;
  padding: 25px 35px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.font {
  font-size: 16px;
  margin-bottom: 15px;
  color: #444;
  text-align: justify;
}
h2, h3, strong {
  text-align: justify;
  margin-top: 20px;
}
h2 {
  font-size: 24px;
  padding-bottom: 5px;
}
h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
strong {
  font-size: 22px;
  margin-bottom: 10px;
}
ul {
  padding-left: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 5px;
}
li {
  margin-bottom: 10px;
} 
ol{
  padding-left: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.imaged{
  margin-left: 500px;
  width: 300px;
  height: 300px;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(0,0,0,0.1);
}

.video{
  border: 5px solid;
  background-color:rgba(0,0,0,0.1);
  border-radius: 5px;
}
